<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<!-- TRACE > DEBUG > INFO > WARN > ERROR > FATAL > OFF -->

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="java.sql" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="egovframework" level="DEBUG" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="jdbc.sqltiming" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>
		<Logger name="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping" level="ERROR" additivity="false">
			<!-- 전자정부프레임워크 설정 개선 전 임시처리 -->
			<AppenderRef ref="console" />
		</Logger>
        <Logger name="egovframework.rte.psl.orm.ibatis.SqlMapClientTemplate" level="INFO" additivity="false">
            <AppenderRef ref="console" />
        </Logger>

		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
